
<div class="about-section paddingTB60 gray-bg font">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="about-title clearfix">
                        <h1 class= "specialfont">Clínica Dentix</h1>
                        <h3>Convenios</h3>
                        <p class="about-paddingB"></p>
                        <p>En Clínica Dentix nos preocupamos por ti y tu familia, por esto contamos con convenios especiales para los afiliados.</p>
                        <br>
                        <div class="about-icons"> 

                            <ul >
                                <li>Isapres: Banmedica - CruzBlanca - Colmena</li>
                                <br>
                                <li> Cajas de Compensación: Los Heroes - Caja Los Andes </li>
                                <br>
                                <li> Aseguradoras: Metlife - Sura - BiceVida </li>
                                <br>
                                <li> Otros Convenios: CruzVerde - Cencosud - CMR Falabella </li>
                            </ul>       
        
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 text-center">
                  <br>
                        <img src="convenios.png" style="width:110%">             
                </div>	
            </div>
        </div>
    </div>
<br>

