
<div class="about-section paddingTB60 gray-bg font">
                <div class="container">
                    <div class="row">
						<div class="col-md-8 col-sm-6">
							<div class="about-title clearfix">
                                <h1 class= "specialfont">Clínica Dentix</h1>
                                <br>
                                <h3>Tratamientos</h3>
                                <br>
								<p class="about-paddingB">Somos una Clínica Dental dedicada a brindar soluciones en belleza y salud dental a todos nuestros pacientes. </p>
                                <p>Ofrecemos distintas especialidades odontológicas con los máximos estándares de calidad, infraestructura y tecnología de punta.</p>
                                <br>
						<div class="about-icons"> 

                            <ul >
                                <li>Rehabilitación Oral </li>
                                <br>
                                <li> Ortodoncia </li>
                                <br>
                                <li> Prótesis </li>
                                <br>
                                <li> Odontopediatría </li>
                            </ul>       
            
	        </div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div style="text-align: left">
								<img src="felipe.jpg" style="width:55%">
                            </div>
                            <h4>Felipe Castillo Jofré</h4>
                                
                            <h5>Cirujano Dentista de la Universidad de Valparaíso</h5>
                            <h6>Odontólogo General - Especialidad Ortodoncia</h6>
                            <p>Basta experiencia en Prótesis Removibles y Ortodoncia.</p>
                                        
						</div>	
                    </div>
                </div>
            </div>
<br>